
#grid-container1 {
    display: grid;
    grid-template-columns: 40px repeat(5, 1fr);
    grid-template-rows: 10px repeat(2, 40px) repeat(4, 1fr);
    height: 100%;
    width: 100%;
    /* touch-action: manipulation; */
}


#texImageId {
    grid-column: 1/5;
    grid-row: 2/6;
    height: 100%;
    width: 100%;
    touch-action: none;
    position: relative;
    z-index: 1;
}
